<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="#about">ABOUT</a></li>
        <li><a href="#study">스터디</a></li>
        <li><a href="#notice">공지사항</a></li>-->
        <li><a href="">ABOUT</a></li>
        <li><a href="">스터디</a></li>
        <li><a href="">공지사항</a></li>
      </ul>
    </div>
  </div>
</nav>