<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
  <h1><%= title %></h1>

  <form id="joinForm" action="/join" method="post">
    <table width="400" border="1">
      <tr>
        <th>아이디</th>
        <td><input type="text" name="userid"/></td>
      </tr>
      <tr>
        <th>이름</th>
        <td><input type="text" name="name"/></td>
      </tr>
      <tr>
        <th>주소</th>
        <td><input type="text" name="address"/></td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" id="btnJoin" name="join" value="가입">
          <input type="reset" name="cancel"value="취소">
        </td>
      </tr>
    </table>
  </form>

  </body>
</html>
